.galeria {
	width: 100%;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
	div {
		text-align: center;
		h3 {
			font-size: 20px;
			padding: 10px;
			font-style: italic;
		}
		img {
			width: auto;
			height: 50vh;
			object-fit: cover;
			box-shadow: 10px 10px 21px -9px black;
		}
		iframe {
			width: auto;
			height: 50vh;
			font-size: 50px;
			object-fit: cover;
			box-shadow: 10px 10px 21px -9px black;
		}
	}
}
