$color: red
$fondomain: #cfd1d1;



.logo-messi {
	font-size: 30px;
	margin: 30px;
	color: black;
	&:hover {
		color: rgba(141, 190, 192, 0.904);
	}
}
.nav-link {
	&:hover {
		color:$color;
	}
}
.areas {
	display: grid;
	grid-template-areas: "izquierda derecha";
	div {
		img {
			height: 100vh;
			width: 100%;
		}
	}
}

.mejor {
	color: white;
}
main {
	background-color: $fondomain;
	div {
		h1 {
			font-size: 90px;
			width: 50%;
			margin: auto;
			margin-bottom: 80px;
			margin-top: 20px;
		}
		p {
			font-size: 70px;
			line-height: 70px;
			margin: auto;
			padding-bottom: 30px;
			font-style: italic;
			border: 0 solid green;
		}
	}
}
.izquierda {
	grid-area: izquierda;
	text-align: center;
}
.derecha {
	grid-area: derecha;
	text-align: center;
}
.areas {
	div {
		img {
			height: 100vh;
			width: 100%;
		}
	}
}
