
@import "nav";
@import "main";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* variables */
$spacing-1: 24px;
$color-primary:#ffffff7a
$spacing-2: 16 24px;
$border-1: solid 2px green;

